body {
  background-color: #e0fbfc;
}

hr {
  width: 10%;
  height: 0px;
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
}

h1 {
  color: #3b6064;
}

h3 {
  color: #3b6064;
}
